:root {
    --main-color: #31ada1;
    --color: #51647a;
}

header {
    border-bottom: 1px solid var(--color);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.logo {
    font-family: Arial;
    font-size: 1rem;
    width: 20%;
    text-align: center;
}

header h1 {
    color: var(--color);
}

header h1 strong {
    color: var(--main-color);
}

/* botões do header - entrar */
.buttons_logo {
    font-family: Arial;
    font-size: 1rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_login {
    width: 40%;
    padding: 12px;
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    color: #fff;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 600px) {

    header {
        padding: 12px;
        justify-content: space-around;
    }

    header .logo {
        font-size: 0.7rem;
        width: 50%;
    }

    header .buttons_logo {
        font-size: 0.7rem;
        width: 50%;
    }
}